{% extends "base/base.html" %}

{% block title %}
    <title>Solicitação de coleta</title>
{% endblock %}

{% block titulo_pagina %}
    <h1>Solicitação de coleta</h1>
{% endblock %}

{% block main %}
    <section>
        <div class="container-form">
            <form action="." method="post">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <input type="submit" value="Enviar">
            </form>
            <button><a href="{% url 'listar_solicitacao'%}">Listar solicitações</a></button>
        </div>
    </section>
{% endblock %}