{% extends "base/base.html" %}

{% load static %}

{% block titulo_pagina %}
    <h1>Sistema de Gestão de Resíduos</h1>
{% endblock %}

{% block main %}
    <style>
        section{
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        main .container{
            width: 900px;
            font-size: 18px;
        }

        h2{
            font-size: 30px;
        }

        main img{
            margin-left: 25%;
        }
    </style>
    <section>
        <div class="container">
            <div class="coluna">
                <h2>Seja bem-vindo!</h2>
                <p>Selecione uma das opções no menu para executar a ação desejada.</p>
            </div>
            <div class="coluna">
                <img src="{% static 'img/reciclagem.png' %}">
            </div>
        </div>
    </section>
{% endblock %}