{% extends "base.html" %}

{% block title %}
    <title>Lista de usuários</title>
{% endblock %}

{% block titulo_pagina %}
    <h1>Lista de usuários</h1>
{% endblock %}

{% load static %}

{% block main %}
<section>
    <div class="container-table">
        <table class="tabela-listagem">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in pagina.object_list %}
                    <tr>
                        <td>{{usuario.nome}}</td>
                        <td>{{usuario.cpf}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.telefone}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="paginacao">
            <span>
                Página <b>{{pagina.number}}</b> de {{pagina.paginator.num_pages}}
            </span>
            {% if pagina.has_previous %}
                <button><a href="{% url 'listar_pessoa' %}?page={{pagina.previous_page_number}}">Anterior</a></button>
            {% endif %}
            {% if pagina.has_next %}
                <button><a href="{% url 'listar_pessoa' %}?page={{pagina.next_page_number}}">Próxima</a></button>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}