{% extends "base.html" %}

{% block title %}
    <title>Lista de solicitações</title>
{% endblock%}

{% block titulo_pagina %}
    <h1>Lista de solicitações</h1>
{% endblock %}

{% load static %}

{% block main %}
<section>
    <div class="container-table">
        <table class="tabela-listagem">
            <thead>
                <tr>
                    <th>Nome da pessoa</th>
                    <th>Status</th>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Resíduo</th>
                    <th>Endereço</th>
                </tr>
            </thead>
            <tbody>
                {% for solicitacao in pagina.object_list %}
                    <tr>
                        <td>{{solicitacao.pessoa}}</td>
                        <td>{{solicitacao.status}}</td>
                        <td>{{solicitacao.data_solicitacao}}</td>
                        <td>{{solicitacao.hora}}</td>
                        <td>{{solicitacao.residuo}}</td>
                        <td>{{solicitacao.endereco}}</td>
                        <td><a href="{% url 'editar_solicitacao' solicitacao.id %}"><button>Editar</button></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="paginacao">
            <span>
                Página <b>{{pagina.number}}</b> de {{pagina.paginator.num_pages}}
            </span>
            {% if pagina.has_previous %}
                <button><a href="{% url 'listar_solicitacao' %}?page={{pagina.previous_page_number}}">Anterior</a></button>
            {% endif %}
            {% if pagina.has_next %}
                <button><a href="{% url 'listar_solicitacao' %}?page={{pagina.next_page_number}}">Próxima</a></button>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}