<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <table> 
            <tr>
                <th> Titulo </th>
            </tr>
        {% for p in categorias %}
                <tr>
                    <td> {{p.titulo}} </td>
                    <td> <a href="#"> Editar </a> </td>
                </tr>
        {% endfor %}
        </table>
        <button> <a href="{% url 'index'%}"> Home </a> </button>
    </body>
</html>