{% extends "base.html" %}

{% block title %}
    <title>Lista de endereços</title>
{% endblock %}

{% block titulo_pagina %}
    <h1>Lista de endereços</h1>
{% endblock %}

{% load static %}

{% block main %}
<section>
    <div class="container-table">
        <table class="tabela-listagem">
            <thead>
                <tr>
                    <th>Logradouro</th>
                    <th>Tipo de logradouro</th>
                    <th>Número</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>CEP</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for endereco in pagina.object_list %}
                    <tr>
                        <td>{{endereco.logradouro}}</td>
                        <td>{{endereco.tipo_logradouro}}</td>
                        <td>{{endereco.numero}}</td>
                        <td>{{endereco.bairro}}</td>
                        <td>{{endereco.cidade}}</td>
                        <td>{{endereco.cep}}</td>
                        <td>{{endereco.estado}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="paginacao">
            <span>
                Página <b>{{pagina.number}}</b> de {{pagina.paginator.num_pages}}
            </span>
            {% if pagina.has_previous %}
                <button><a href="{% url 'listar_endereco' %}?page={{pagina.previous_page_number}}">Anterior</a></button>
            {% endif %}
            {% if pagina.has_next %}
                <button><a href="{% url 'listar_endereco' %}?page={{pagina.next_page_number}}">Próxima</a></button>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}