{% extends "base.html" %}
{% block titulo_pagina %}
    <h1>Lista de solicitações</h1>
{% endblock %}

{% load static %}

{% block main %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <table> 
            <tr>
                <th> Nome(Pessoa) </th>
                <th> Status </th>
                <th> Data </th>
                <th> Hora </th>
                <th> Residuo </th>
                <th> Endereço </th>
            </tr>
        {% for p in solicitacoes %}
                <tr>
                    <td> {{p.pessoa}} </td>
                    <td> {{p.status}} </td>
                    <td> {{p.data_solicitacao}} </td>
                    <td> {{p.hora}} </td>
                    <td> {{p.residuo}} </td>
                    <td> {{p.endereco}} </td>
                    <td> <a href="#"> Editar </a> </td>
                </tr>
        {% endfor %}
        </table>
        <button> <a href="{% url 'index'%}"> Home </a> </button>

    </body>
</html>
{% endblock %}