{% extends "base.html" %}
{% block titulo_pagina %}
    <h1>Lista de categoria</h1>
{% endblock %}

{% load static %}

{% block main %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <table> 
            <tr>
                <th> Nome </th>
                <th> CPF </th>
                <th> Telefone </th>
                <th> Email </th>
            </tr>
        {% for pessoas in pessoas %}
                <tr>
                    <td> {{pessoas.nome}} </td>
                    <td> {{pessoas.cpf}} </td>
                    <td> {{pessoas.telefone}} </td>
                    <td> {{pessoas.email}} </td>
                    <td> <a href="#"> Editar </a> </td>
                </tr>
        {% endfor %}
        </table>
        <button> <a href="{% url 'index'%}"> Home </a> </button>
    </body>
</html>
{% endblock %}