{% extends "base/base.html" %}
{% block container %}
    <div class="login">
        <h1> Login </h1>
        <form action="." method="post">
            {% csrf_token %}
            <table>
            {{form.as_table}}
            </table>
            <input type="submit" class="btn-enviar" onclick="window.open('http://127.0.0.1:8000/home')" value="Enviar">
        </form>
        <div class="forgot">
            <a href="{% url 'recuperar_senha'%}" class="forg"> Recuperar Senha </a>
        </div>
            
 </div>
        <style>
            .login {
                border:1px solid  blue;
                margin:7px 15px;
                padding:9px;
                border-radius: 15px;
                text-align:center;

              }
            .buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top:40px;
            }
              
            h1 {
                text-align: center;
              }
              
            p {
                text-align: center;
              }
            a {
                text-decoration: none;
                list-style: none;

            }
            .login-input{
                margin:15px 7px;
            }
            .forgot{
                display: flex;
                justify-content: center;
                align-items: center;
                width:100%;
                padding:40px 0;
            }
            .forg{
                text-align:center;

            }
            .btn-enviar {
                width: 98px;
                height: 35;
                font-size: 16px;
                text-align: center;
                border-radius: 5px;
                cursor: pointer;
                border:1px solid  blue;
                margin:7px 15px;
                color:rgb(44, 6, 133);
                float:right;
            }
            .btn {
                width: 98px;
                height: 35;
                font-size: 16px;
                text-align: center;
                border-radius: 5px;
                cursor: pointer;
                border:1px solid  blue;
                margin:7px 15px;
            }
            .btn:hover {
                border:1px solid  aqua;
            }
        </style>
{% endblock container %}

